{%   if pageCount > 1 %}
									<div class="pager">
										<ul>
{%     if current > 1 %}
											<li class="pull-left"><a href="{{ path(route, query|merge({'page': current - 1})) }}" title="{% trans %}fulgurio.lightcms.posts_list.previous_posts{% endtrans %}">&laquo; {% trans %}fulgurio.lightcms.posts_list.previous_posts{% endtrans %}</a></li>
{%     endif %}
{%     if current < pageCount %}
											<li class="pull-right"><a href="{{ path(route, query|merge({'page': current + 1})) }}" title="{% trans %}fulgurio.lightcms.posts_list.next_posts{% endtrans %}">&raquo; {% trans %}fulgurio.lightcms.posts_list.next_posts{% endtrans %}</a></li>
{%     endif %}
										</ul>
										<br class="clearfix" />
									</div>
{%   endif %}
