{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms.pages.title{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans from 'admin' %}fulgurio.lightcms.pages.legend{% endtrans %}</h1>
{% include 'FulgurioLightCMSBundle::adminMessage.html.twig' %}
<div class="row">
	<div class="span4 treeview">
{% if selectedPage is defined %}
{% include 'FulgurioLightCMSBundle:AdminPage:tree.html.twig' with { 'pages': pageRoot, 'selectedPage' : selectedPage } %}
{% else %}
{% include 'FulgurioLightCMSBundle:AdminPage:tree.html.twig' with { 'pages': pageRoot } %}
{% endif %}
	</div>
	<div class="span8">
{% block pageContent%}
		<p>{% trans from 'admin' %}fulgurio.lightcms.pages.text_info{% endtrans %}</p>
{% endblock %}
	</div>
</div>
<script>
$(".treeview").jstree({
	"types" : {
		"valid_children" : [ "root" ],
		"types" : {
			"no-children":{
				"valid_children" : [ "none" ]
			}
		}
	},
		"plugins" : [
			"html_data",
			"dnd",
			"cookies",
			"types",
		]
	})
	.bind("move_node.jstree", function (e, data) {
		var parentId = data.rslt.o.parent().parent().attr('data-id');
		var pageId = data.rslt.o.attr('data-id');
		$.ajax({
			async : false,
			type: 'POST',
			url: "{{ path('AdminPagePosition') }}",
			data : {
				"parentId" : parentId,
				"pageId" : pageId,
				"position" : data.rslt.cp + 1,
			},
			success : function (r) {
				//location.reload();
			}
		});
	});
</script>
{% endblock %}

{% block javascriptTop %}
	<script src="{{ asset('bundles/fulguriolightcms/js/jquery.jstree.js') }}"></script>
	<script src="{{ asset('bundles/fulguriolightcms/js/jquery.cookie.js') }}"></script>
{% endblock %}