{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms.pages.title{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans from 'admin' %}fulgurio.lightcms.pages.legend{% endtrans %}</h1>
{% include 'FulgurioLightCMSBundle::adminMessage.html.twig' %}
<div class="row">
	<div class="span4 treeview">
{% if selectedPage is defined %}
{% include 'FulgurioLightCMSBundle:AdminPage:tree.html.twig' with { 'pages': pageRoot, 'selectedPage' : selectedPage } %}
{% else %}
{% include 'FulgurioLightCMSBundle:AdminPage:tree.html.twig' with { 'pages': pageRoot } %}
{% endif %}
	</div>
	<div class="span8">
{% block pageContent%}
		<p>{% trans from 'admin' %}fulgurio.lightcms.pages.text_info{% endtrans %}</p>
{% endblock %}
	</div>
</div>
<script>
$(".treeview").jstree({
		"plugins" : [
			"html_data",
			"dnd",
			"cookies",
		],
	})
	.bind("move_node.jstree", function (e, data) {
		var parentId = data.rslt.o.parent().parent().attr('data-id');
		var pageId = data.rslt.o.attr('data-id');
{#		switch (data.rslt.p) {
			case 'inside':
				console.log('on change de parent #' + data.rslt.o.parent().parent().attr('data-id') + ' avec un position = 1');
				// en gros, cela revient à :
				// - deplacer vers le haut les pages suivantes du même parent
				// - changer de parent
				// - mettre la position à 1
				break;
			case 'after':
			case 'before':
				console.log('Parent #' + data.rslt.o.parent().parent().attr('data-id') + ' avec un position = ' + (data.rslt.cp + 1));
				break;
			default:
				console.log('cas non géré : ' + data.rslt.p);
		}#}
		$.ajax({
			async : false,
			type: 'POST',
			url: "{{ path('AdminPagePosition') }}",
			data : {
				"parentId" : parentId,
				"pageId" : pageId,
				"position" : data.rslt.cp + 1,
			},
			success : function (r) {
				//location.reload();
			}
		});
	});
</script>
{% endblock %}

{% block javascriptTop %}
	<script src="{{ asset('bundles/fulguriolightcms/js/jquery.jstree.js') }}"></script>
	<script src="{{ asset('bundles/fulguriolightcms/js/jquery.cookie.js') }}"></script>
{% endblock %}