{% extends 'FulgurioLightCMSBundle::base.html.twig' %}
{% block content %}
			<h1>{{ currentPage.title }}</h1>
			<br />
{% if pages is not empty %}
			<ul class="unstyled">
{%   for key, page in pages %}
				<li>
					<hr />
					<article>
						<h2>{{ page.title }}</h2>
						<span class="muted">{% trans with { '%DATE%' : page.createdAt|date('fulgurio.lightcms.datetime_format'|trans) } %}fulgurio.lightcms.posts_list.posted_at{% endtrans %}</span>
{{ page.content|raw }}
					</article>
				</li>
{%   endfor %}
			</ul>
{% endif %}
{% endblock %}