{% extends 'FulgurioLightCMSBundle:models:_adminAddForm.html.twig' %}

{% block leftFields %}
				<div class="control-group">
					<label class="control-label" for="p_content">{% trans from "admin" %}fulgurio.lightcms.pages.add_form.content_label{% endtrans %}</label>
					<div class="controls">
						<textarea class="input-xlarge wysiwyg" id="p_content" cols="" rows="8" name="{{ form.content.vars.full_name }}">{{ form.content.vars.value }}</textarea>
					</div>
				</div>
{% endblock %}

{% block javascriptBottom %}
{% if wysiwyg is defined %}
{%   include wysiwyg.admin_footer with { 'config': wysiwyg.config, 'idElt': 'textarea.wysiwyg' } %}
{% endif %}
{% endblock %}