@CHARSET "UTF-8";
/** Login **/
body.login {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
/** End Login **/

/* Tree */
.treeview {
	overflow-x: auto;
}
.treeview .jstree-open ins,
.treeview .jstree-closed ins {
	cursor: pointer;
}
.treeview a.likeText {
	color: #000;
}
.treeview li.draft {
	font-style: italic;
}
.treeview li.page_redirect > a > .jstree-icon {
	background-image: url("../img/page_white_world.png");
}
.treeview li.draft > a > .jstree-icon {
	background-image: url("../img/page_white_error.png");
}
.mediaPopup .nav a {
	cursor: pointer;
}
#fromAddress,
#mediasLibrary {
	display: none;
}
#mediasLibrary ul {
	position: relative;
	list-style: none;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: 0;
}
#mediasLibrary ul li { 
	display: block; 
	float: left; 
	width: 110px; 
	height: 110px;
	position: relative;
	margin: 5px;
	overflow: hidden;
}
#mediasLibrary ul li.active img,
#mediasLibrary ul li:hover img {
	background: #08c;
}
#mediasLibrary ul li a {
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: block;
}
#mediasLibrary ul img {
	height: 100px;
}
.mediaPopup header {
	height: 48px;
}
.mediaPopup footer {
	height: 70px;
}
.mediaPopup .form-actions {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.mediaPopup .form-actions button {
	margin-right: 20px;
}
.mediaPopup .media_infos img {
	height: 100px;
}
ul.menus {
	list-style: none;
}
ul.menus li {
	cursor: pointer;
}
.thumbnails .thumbnail h6 span {
	overflow: hidden;
	width: 110px;
	height: 20px;
	display:block;
	float: left;
	cursor: default;
}
.wysiwyg {
	width: 540px;
}