@CHARSET "UTF-8";
/* Tree */
.treeview .jstree-open ins,
.treeview .jstree-closed ins {
	cursor: pointer;
}
.treeview a.likeText {
	color: #000;
}
.treeview li.draft {
	font-style: italic;
}
.treeview li.page_redirect .jstree-icon {
    background-image: url("../img/page_white_world.png");
}
.treeview li.draft a .jstree-icon {
	background-image: url("../img/page_white_error.png");
}
